<footer class="footer">
	<small>
		<%= link_to 'The Molecular Playground', 'http://www.molecularplayground.org' %>
	</small>
	<nav>
		<ul>
			<li><%= link_to 'Help', help_path %></li>
			<li><%= link_to 'Contact', contact_path %></li>
		</ul>
	</nav>
</footer>