<% provide :title, 'Home' %>
<div class="hero-unit">
	<h1>Playground App</h1>
	<h2>
		Welcome to the <%= link_to 'Molecular Playground', 'http://www.molecularplayground.org' %> content management application.
	</h2>
	<%= tbs_button_link 'Sign up!', sign_up_path, size: 'large', style: 'primary' %>
</div>